---
interface Props {
	greeting?: string;
	title: string;
	tagline?: string[];
	align?: "start" | "center";
}

const { align = "center", greeting, tagline, title } = Astro.props;
---

<div class:list={["hero stack gap-4", align]}>
	<div class="stack gap-2">
		{greeting && <p class="greeting">{greeting}</p>}
		<h1 class="title gradient-text">{title}</h1>
		<div class="tagline-container">
			{
				Array.isArray(tagline)
					? tagline.map((line) => <p class="tagline">{line}</p>)
					: null
			}
		</div>
	</div>
	<slot />
</div>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
		padding-top: 5rem;
	}

	.greeting,
	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.greeting {
		font-size: var(--text-lg);
		color: var(--gray-400);
		font-weight: 400;
		margin-bottom: 0.5rem;
	}

	.title {
		font-size: var(--text-3xl);
		line-height: 1.1;
		font-weight: 800;
		margin-bottom: 1rem;
	}

	.tagline {
		color: var(--gray-400);
		line-height: 1.5;
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .greeting,
		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.greeting {
			font-size: var(--text-xl);
		}

		.title {
			font-size: var(--text-5xl);
		}
	}
</style>
